<nav class="navbar">
  <div class="navbar__logo">
    <a routerLink="/">Boutique</a>
  </div>

  <ul class="navbar__links">
    <li><button routerLink="catalogue">Catalogue</button></li>

    @if (!authService.isConnected()) {
      <li><button routerLink="login">Connexion</button></li>
      <li><button routerLink="register">Inscription</button></li>
    }

    @if (authService.isConnected()) {
      <li><button routerLink="/account">Mon profil</button></li>
      <li><button routerLink="/panier">🛒Mon panier</button></li>
      <li><button (click)="logout()">Déconnexion</button></li>
    }

    @if (authService.isAdmin()) {
      <li><button routerLink="/admin/products">Admin Produits</button></li>
      <li><button routerLink="/admin/commandes">Admin Commandes</button></li>
    }
  </ul>
</nav>