<section>
    <h1>Catalogue :</h1>

    <div class="categorie-filter">
        <button (click)="categorieActive = null; filtrage()">Toutes</button>
        @for (cat of categories; track $index) {
        <button (click)="categorieActive = cat; filtrage()" [class.active]="categorieActive === cat">
            {{ cat }}
        </button>
        }
    </div>

    <div class="catalogue">
        @for (produit of produits; track produit.id) {
        <div class="product-card">
            <a [routerLink]="['/produit', produit.id]">
                <img src="assets/images/default-product.jpg" alt="Image produit" />
            </a>
            <h3>
                <a [routerLink]="['/produit', produit.id]">
                    {{ produit.nom }}
                </a>
            </h3>
            <p><strong>Catégorie :</strong> {{ produit.categorie }}</p>
            <p><strong>Prix :</strong> {{ produit.prixTVAC | currency:'EUR' }}</p>

            <div class="achat-zone">
                <label for="quantite-{{ produit.id }}">Quantité :</label>
                <select id="quantite-{{ produit.id }}" [(ngModel)]="quantites[produit.id]">
                    @for (q of getQuantiteOptions(produit.quantite); track q) {
                    <option [value]="q">{{ q }}</option>
                    }
                </select>

                <button (click)="ajouterAuPanier(produit, quantites[produit.id] || 1)">
                    Ajouter au panier
                </button>
            </div>
        </div>
        }
    </div>
</section>